@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Rye';
    src: url('./../../public/fonts/Rye-Regular.ttf');
}

@font-face {
    font-family: 'Fraunces';
    src: url('./../../public/fonts/Fraunces-VariableFont.ttf');
}

@font-face {
    font-family: 'Fraunces-Italic';
    src: url('./../../public/fonts/Fraunces-Italic-VariableFont.ttf');
}

@layer components {
    body {
        @apply scrollbar-hide bg-base-100 text-base-content
    }
    h1 {
        @apply text-4xl md:text-5xl lg:text-6xl
    }
    h2 {
        @apply text-2xl md:text-3xl lg:text-4xl
    }
    h3 {
        @apply text-xl lg:text-2xl
    }
    p {
        @apply min-h-[1rem] py-2
    }
    .pageMesh {
        background-color:hsla(245,0%,2%,1);
        background-image:
            radial-gradient(at 78% 95%, hsla(69,28%,14%,1) 0px, transparent 50%),
            radial-gradient(at 23% 72%, hsla(0,13%,26%,0.48) 0px, transparent 50%),
            radial-gradient(at 70% 23%, hsla(201,0%,0%,1) 0px, transparent 50%),
            radial-gradient(at 52% 35%, hsla(41,78%,35%,0.48) 0px, transparent 50%);
    }

    .corditeMesh {
        @apply text-transparent bg-clip-text;
        background-color:hsla(30,90%,42%,1);
        background-image:
            radial-gradient(at 0% 54%, hsla(301,0%,100%,1) 0px, transparent 50%),
            radial-gradient(at 98% 54%, hsla(59,100%,93%,1) 0px, transparent 50%),
            radial-gradient(at 52% 26%, hsla(36,72%,52%,1) 0px, transparent 50%),
            radial-gradient(at 52% 74%, hsla(36,100%,25%,1) 0px, transparent 50%);
    }
    .htmlContent p {
        margin-top: 1rem;
        text-indent: 1rem;
    }
}